<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #f58bb4; /* Darker gray header */
            color: #fff;
            padding: 20px;
            text-align: center;
            }

        h1 {
            font-size: 2em;
            margin: 0;
        }
    </style>
</head>

<body>
        <h1>Admin Dashboard - Robes</h1>
</body>
</html>